<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin/user_look.css">
</head>
<body>
	<header class="col-md-12">
		<a href="{:U('Admin/User/index','','')}">
			<span class="glyphicon glyphicon-home"></span>
			主页
		</a>

		<a href="{:U('Admin/User/index','','')}">
			>&nbsp;&nbsp;
			用户管理
		</a>

		<a href="#">
			>&nbsp;&nbsp;
			用户信息
		</a>
	</header>

	<section class="col-md-12">
		<div class="col-md-12 onemsg">
			<label>用户名：</label>
			{$user.username}
		</div>
		<div class="col-md-12 onemsg">
			<label>姓名：</label>
			{$user.truename}
		</div>
		<div class="col-md-12 onemsg">
			<label>邮箱：</label>
			{$user.email}
		</div>
		<div class="col-md-12 onemsg">
			<label>电话：</label>
			{$user.phone}
		</div>
		<div class="col-md-12 onemsg">
			<label>身份证号：</label>
			{$user.idnumber}
		</div>
		<div class="col-md-12 onemsg">
			<label>性别：</label>
			{$user.sex}
		</div>
		<div class="col-md-12 onemsg">
			<label>家庭住址：</label>
			{$user.address}
		</div>
		<div class="col-md-12 onemsg">
			<label>参与路线数：</label>
			{$user.ordercount}
		</div>
		<div class="col-md-12 onemsg">
			<label>投诉数：</label>
			{$user.advisecount}
		</div>

		<div class="col-md-12">
			<h3><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;向他发送邮件</h3>
			<textarea class="form-control" rows="3" style="width: 60%;" id="messages"></textarea>
			<br>
			<button alt="{$user.email}" class="btn btn-primary" id="submitbtn">发送信息</button>
		</div> 
	</section>


	<script>
		$(function(){
			$("#submitbtn").click(function(){
				$msgs=$("#messages").val();
				$email=$("#submitbtn").attr("alt");
				
				$.post("{:U('Admin/User/doemail','','')}",{
				          email : $email,
				          messages : $msgs
				      },function(data){
				        if (data==1) {
				           
				            alert("您已成功向用户发送邮件")
				        }
				        else
				        {
				          	alert("*系统异常，请稍后再试");
				        }
				})
			})
		})
	</script>
</body>
</html>